.fa-certificate:nth-child(1) {
  color: #CD7F32;
}
.fa-certificate:nth-child(2) {
  color: #C0C0C0;
}
.fa-certificate:nth-child(3) {
  color: #FFD700;
}
.fa-certificate:nth-child(4) {
  color: #0F52BA;
}
.fa-certificate:nth-child(5) {
  color: #E0115F;
}
.fa-certificate:nth-child(6) {
  color: #50C878;
}
