.fa-certificate #bronzeValue {
  color: #CD7F32;
}
.fa-certificate #silverValue {
  color: #C0C0C0;
}
.fa-certificate #goldValue {
  color: #FFD700;
}
.fa-certificate #sapphireValue {
  color: #0F52BA;
}
.fa-certificate #rubyValue {
  color: #E0115F;
}
.fa-certificate #emeraldValue {
  color: #50C878;
}
