#bronzeValue.fa-certificate {
  color: #CD7F32;
}
#silverValue.fa-certificate {
  color: #C0C0C0;
}
#goldValue.fa-certificate {
  color: #FFD700;
}
#sapphireValue.fa-certificate {
  color: #0F52BA;
}
#rubyValue.fa-certificate {
  color: #E0115F;
}
#emeraldValue.fa-certificate {
  color: #50C878;
}
